<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}

    <script>
        setTimeout(() => [...document.getElementsByTagName("h1")].forEach(h => {
            let l = document.createElement("a");
            l.href = `#${h.id}`;
            l.append(...h.childNodes);
            h.replaceChildren(l);
        }), 0);
    </script>
</head>

<body>
    <div class="wrapper">
        <header class="wrapper-header">
            {% include header.html %}
        </header>

        <main class="wrapper-main">
            <div class="main-content">
                {{ content }}
            </div>
        </main>
    </div>

    <footer class="wrapper-footer">
        {% include footer.html %}
    </footer>
</body>

</html>