/* Style inspiration and settings adapted from https://github.com/jgthms/web-design-in-4-minutes*/

html {
  font-size: 12pt;
}

body {
  font-family: "Courier New", "Helvetica", sans-serif;
}

.padded {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 30px;
}

.nowrap {
  white-space: nowrap;
}

.main-content {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 30px;
}

.main-content h2 {
  padding-top: 15px;
  padding-bottom: 5px;
}

body {
  color: #c5ccce;
  background-color: #282f3a;
}

h1,
h2,
strong {
  font-weight: 500;
  color: #dcdede;
}

a {
  color: #7e92a2;
}

h1>a {
  color: inherit;
  text-decoration: inherit;
}

h1:hover>a::after {
  content: " #";
  color: #7e92a2;
}

details>summary {
  cursor: pointer;
}

pre {
  padding: 1em;
  overflow: scroll;
  background: #282828;
}

:not(:is(pre))>code {
  background: #282828;
  padding: 2px 4px;
}